@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "source sans pro", sans-serif;
}

.btn {
  width: 200px;
  padding: 1rem 1.5rem;
  background-color: #0d90c2;
  margin: 0 auto;
  border: none;
  color: #fff;
}

.header-container {
  background-image: url(../images/top-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  min-height: 700px;
  max-height: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 12vh;
}

.navbar {
  color: #fff;
  padding: 3rem 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
  position: fixed;
  width: 100vw;
}

.navbar .page-logo {
  padding-top: 0.5rem;
}

.navbar .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

.navbar .nav-link {
  margin-left: 2rem;
  opacity: 0.5;
}

.navbar .nav-link.active {
  opacity: 1;
}

@media (min-width: 1100px) {
  .navbar .menu-icon {
    display: none !important;
  }
}

@media (max-width: 1100px) {
  .navbar .nav {
    display: none;
  }
}

.header {
  width: 500px;
  height: 349px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  color: #fff;
}

.header .header-title {
  font-size: 60px;
  margin-bottom: 1rem;
}

.header .header-subtitle {
  font-size: 25px;
  margin-bottom: 1rem;
}

.header .header-paragraph {
  font-size: 15px;
  max-width: 380px;
  margin-bottom: 1rem;
}

@media (max-width: 513px) {
  .header .header {
    width: 400px;
    text-align: center;
  }
  .header .header-title {
    font-size: 40px;
  }
  .header .header-subtitle {
    font-size: 20px;
  }
  .header .header-paragraph {
    font-size: 15px;
    text-align: center;
  }
}

.aboutus-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/bottom-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutus-section .aboutus-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutus-section .aboutus-row .aboutus-col {
  width: 336px;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  color: #fff;
  margin: 0.8rem;
}

.aboutus-section .aboutus-row .membership {
  background-image: url(../images/Mask-Groups.png);
  padding: 2rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.aboutus-section .aboutus-row .working-space {
  background-image: url(../images/Mask-Group.png);
  padding: 2rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.aboutus-section .aboutus-row .text {
  font-size: 1rem;
  height: 90px;
}

.aboutus-section .aboutus-top-row {
  margin-top: -60px;
}

.aboutus-section .aboutus-details {
  width: 336px;
  height: 320px;
  margin: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: justify;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #fff;
  padding-bottom: 2rem;
}

.aboutus-section .founder-name {
  font-size: 20px;
  font-family: "Mrs Saint Delafield", cursive;
}

.aboutus-section .aboutus-image {
  width: 336px;
  height: 320px;
  margin: 0.8rem;
  z-index: 1;
}

.aboutus-section .border {
  width: 20px;
  border: 1px solid white;
  margin-top: 0.5rem;
}

.aboutus-section .paragraph {
  margin-top: 0.7rem;
}

@media (max-width: 779px) {
  .aboutus-section .aboutus-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-two-container {
  margin: 0 auto;
  padding: 3rem;
  background-color: #f1f1f1;
}

.section-two-container .box {
  max-width: 90vw;
  padding: 3rem 5vw;
  margin: -100px auto 5rem auto;
  background-color: #fff;
}

.section-two-container .section-two {
  max-width: 710px;
  height: 244px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section-two-container .section-two-paragraph {
  max-width: 467px;
  font-size: 1.1rem;
}

.section-two-container .section-two-list {
  list-style: none;
  font-size: 1.2rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-two-container .list-items {
  margin: 0.5rem;
}

.section-two-container .blogs {
  padding-left: 23rem;
  margin: 0 auto;
}

.section-two-container .blogs .blog-header {
  width: 326px;
  line-height: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section-two-container .blogs .border {
  width: 20px;
  border: 1px solid black;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}

.section-two-container .blogs .blog-subtitle {
  line-height: 1.5rem;
  margin-bottom: 3rem;
  padding-left: 1rem;
}

.section-two-container .blogpost-section {
  max-width: 1049px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-two-container .blogpost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-beetween;
      -ms-flex-pack: space-beetween;
          justify-content: space-beetween;
  width: 296px;
  height: 408px;
  margin: 1rem;
  background-color: #fff;
}

.section-two-container .blogpost-image {
  width: 296.23px;
  height: 135.55px;
  margin: 0;
  padding: 0;
}

.section-two-container .blogpost-header {
  padding-left: 1.5rem;
  margin: 1rem 0 1rem 1rem;
  min-height: 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-two-container .blogpost-button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 1rem 2.5rem;
  background-color: #0d90c2;
  color: #fff;
  border: none;
}

@media (max-width: 760px) {
  .section-two-container .section-two-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media (max-width: 803px) {
  .section-two-container .blogs {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .section-two-container .blogpost-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 685px) {
  .section-two-container .section-two {
    height: 345px;
  }
}

.section-three {
  padding-left: 27rem;
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.section-three .partner-header {
  margin-bottom: 3rem;
}

.section-three .border {
  width: 20px;
  border: 1px solid black;
  margin-top: 0.5rem;
}

.section-three .partner-logo {
  max-width: 1049px;
  height: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-three .logo {
  margin: 3.5rem;
}

@media (max-width: 1238px) {
  .section-three {
    width: 100%;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .partner-logo {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0;
  }
}

@media (max-width: 523px) {
  .section-three {
    display: none;
  }
}

.footer {
  background-color: #121212;
  padding-bottom: 5rem;
}

.footer .footer-container {
  max-width: 1049px;
  padding: 3rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  line-height: 2.5rem;
}

.footer .footer-container .footer-nav {
  list-style: none;
  margin-top: .7rem;
}

.footer .subscribe-btn {
  padding: .8rem 4.1rem;
  background-color: #0d90c2;
  color: #fff;
  border: none;
}

.footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .icons {
  margin-right: .5rem;
}

.footer .footer-menu {
  margin: 0 2rem;
}

@media (max-width: 1111px) {
  .footer-container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .footer-menu {
    margin-bottom: 3rem !important;
  }
}
/*# sourceMappingURL=style.css.map */